<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Plex Duplicate Cleaner Login</title>
  </head>
  <body>
    <h1>Plex Duplicate Cleaner Login</h1>
    <form method="post">
      <label for="username">Plex Username:</label><br>
      <input type="text" id="username" name="username" required><br><br>
      <label for="password">Plex Password:</label><br>
      <input type="password" id="password" name="password" required><br><br>
      <input type="submit" value="Login">
    </form>
    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}
  </body>
</html>
